h2{
  padding: 0%;
  margin: 0%;
}

#des{
    text-align: center;
}
body{
    background-color: cornflowerblue;
    text-align: center;
}


#conteudo{
    background-color:whitesmoke;
     margin: 2cm;
     padding: 1cm;
     text-align: center;

}
a{
    
    color:black;
    font-size: x-large;
    font-style: italic;
}
#rodape{
    background-color: cornflowerblue;
}
.menu{
    font-size: xx-large;
    text-align: center;
}
