h1{
    font-family: cursive;
    color: orangered;
    text-align: center;
    font-size:xx-large;
}
h2{
    text-align: center;
}
h3{
    color: orangered;
}
html{
    background-color: silver;
}
p{
    color: orangered;

    font-family: cursive;
}